*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
    font-family: 'mon';
    outline: none;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    padding: 13px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #babecc  -5px -5px 10px  #f2f3f5;
    display: grid;
    grid-template-columns: repeat();
    outline: none;
    border: none;
    height: 550px;
    background:darkblue
 
}
input{
    grid-column: span 4;
    width: 250px;
    height: 100px;
    box-shadow: inset 5px 5px 10px   #babecc;
    inset: -5px -5px 10px  #f2f3f5;
    border: none;
    border-radius: 10px;
    color: rgb(70, 70, 70);
    text-align: end;
    font-size: 50px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 15px;
}
button{
    cursor: pointer;
    text-align: center;
    width: 70px;
    height: 55px;
    font-size: 17px;
    display: grid;
    place-content: center;
    border: none;
    border-radius: 10px;
    color: rgba(70,70,70);
    box-shadow: 5px 5px 10px  #babecc -5px -5px 10px;
    margin: 5px;
    background: rgb(226, 233, 213);
}
button:hover{
    background: #babecc ;
    color: white;
}
.equal{
   
    border-radius: 10px;
 
    
    
 
   
}